
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat'. sans-serif;
}
p {
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 6%;
    margin: 100px auto;

}

a{
    color: #999E;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #40514E;
}
h1 {
    font-family: sans-serif;
    font-size: 5em;
    color: #45B2D9;
    width: 10%:
    margin: top 50px;
}
h2 {
    color: #45B2D9;

}
.hidden {
    font-size: 2rem;
    color: #45B2D9;

}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}

.middle-container{
    margin: 100px 0;
}

.bottom-container {
    background-color: #E4F9F5;
    padding: 50px 0 20px;


}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 90px auto 90px auto;

}

.top-cloud {
    position: absolute;
    width: 200px;
    right: 150px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    width: 200px;
    left: 150px;
    bottom: 300px;
}

.level-up {
    width: 150px;
    height: 100px;

}

.computer {
    width: 150px;
    height: 120px;
    float: left;
    margin: 10px 25px auto 0px;
}

.globe{
    width: 150p;
    height: 120px;
    float: right;
    margin: 30px 10px auto 0px;
}

.hello {
    position: relative;
    width: 30%;
    left: 35%;

}

.contact-message{
    width: 40%
    margin: 40 ps auto 60px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright {
    font-size: 0.75rem;
    padding: 20px 0px 0px;
}

ul {
    list-style-type: none;
}

